<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet">
    <title>LondriBus</title>
</head>
<body>
    <div class="main-container">
        <div class="top-nav">
            <h2>Comprar créditos</h2>
        </div>
        <div class="flexbox">
            <p class="user-data-label">CPF: </p>
            <p th:text="${userCpf}"/>
        </div>
        <form class="form" action="#" th:action="@{/compra-credito/{cpf}(cpf=${cpf})}" th:object="${compra}" method="post">
            <div id="tipo">
                <p>Selecione tipo de compra:</p>
                <input type="radio" id="comBeneficio" th:field="*{tipo}" value="comBeneficio">
                <label for="comBeneficio">Com benefício</label>
                <input type="radio" id="semBeneficio" th:field="*{tipo}" value="semBeneficio">
                <label for="semBeneficio">Sem benefício</label>
            </div>
            <div class="flexbox">
                <label for="qntd">Quantidade de créditos:</label>
                <input class="form-cadastro-field" type="text" th:field="*{qntdCreditos}" id="qntd">
            </div>
            <span th:if="${#fields.hasErrors('qntdCreditos')}" th:errors="*{qntdCreditos}"></span>
            <input class="button" type="submit" value="Comprar">
        </form>
    </div>
</body>
</html>