<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet">
    <title>LondriBus</title>
</head>

<body>
    <div class="main-container">
        <div class="top-nav">
            <h2>Criar conta</h2>
        </div>
        <form class="form" style="text-align: center"
              action="#"
              th:action="@{/criar-usuario}"
              th:object="${usuario}"
              method="post">
            <label class="form-cadastro-label" for="login">Login: </label>
            <input class="form-cadastro-field" type="text" th:field="*{login}" id="login">
            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
            <label class="form-cadastro-label" for="senha">Senha: </label>
            <input class="form-cadastro-field" type="password" th:field="*{senha}" id="senha">
            <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
            <label class="form-cadastro-label" for="nome">Nome: </label>
            <input class="form-cadastro-field" type="text" th:field="*{nome}" id="nome">
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
            <label class="form-cadastro-label" for="cep">CEP: </label>
            <input class="form-cadastro-field" type="text" th:field="*{cep}" id="cep">
            <span th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></span>
            <label class="form-cadastro-label" for="cpf">CPF: </label>
            <input class="form-cadastro-field" type="text" th:field="*{cpf}" id="cpf">
            <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
            <label class="form-cadastro-label" for="endereco">Endereço: </label>
            <input class="form-cadastro-field" type="text" th:field="*{endereco}" id="endereco">
            <span th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></span>
            <input class="button" type="submit" value="Criar">
        </form>
        <td><a class="link" th:href="@{/}">< Voltar</a></td>
    </div>
</body>

</html>