<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" th:href="@{style.css}" rel="stylesheet">
    <title>LondriBus</title>
</head>

<body>
    <div class="main-container">
        <img th:src="@{/assets/bus-icon.png}" alt="Bus Icon" class="icon">
        <h1 class="app-name">LondriBus</h1>
        <form class="form"
              action="#"
              th:action="@{/logar-usuario}"
              th:object="${usuario}"
              method="post">
            <input class="form-field" type="text" th:field="*{login}" id="login" placeholder="Usuário">
            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
            <input class="form-field" type="password" th:field="*{senha}" id="senha" placeholder="Senha">
            <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
            <input class="button" type="submit" value="Continuar">
        </form>
        <p class="gray-txt">Não possui uma conta?</p>
        <td><a class="link" th:href="@{/form-criar-usuario}">Criar conta</a></td>
    </div>
</body>
<var th:text="${erro}"> </var>
</html>